@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.hBar {
    height: 1px;
    background-color: gray;
    cursor: ns-resize;
    box-sizing: content-box;
    z-index: 10;
    position: relative; 
}

#vBar {
    width: 1px;
    background-color: gray;
    cursor: ew-resize;
    box-sizing: content-box;
    z-index: 10;
    position: relative; 
}

.hBar::before {
    content: "";
    position: absolute;
    top: -8px; bottom: -8px; 
    left: 0; right: 0;
    background: transparent; 
    display: block;
    pointer-events: all;
}

#vBar::before {
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    left: -8px; right: -8px; 
    background: transparent;
    display: block;
    pointer-events: all;
}

#listTitle {
    text-align: center;
    margin: auto;
    padding: 0px;
    font-size: 15px;
}

#topBarText {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-left: 0;
    text-align: center;
    flex-grow: 1;
}

#rightDiv {
    height: 100%; 
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: width 0.05s ease-in-out;
}

#topBarDiv {
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: #0B2027;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 5px;
    transition: width 0.05s ease-in-out;
}

#topologyDiv {
    height: 100%; 
    width: 100%;
    margin: 0;
    transition: width 0.05s ease-in-out;
}

#deviceListDiv {
    height: 40%; 
    width: 100%;
    transition: height 0.05s ease-in-out;
}

.topBarButton {
    margin-left: 15px;
    margin-right: 15px;
    padding: 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.topBarButton-active {
    border-bottom: 3px solid rgba(255, 255, 255, 0.911);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 15px;
    margin-right: 15px;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
}

#detailsIcon {
    font-size: 22px;
    color: white;
    
}

#flowTableIcon {
    font-size: 22px;
    color: white;
}

#deviceDetailsDiv {
    height: 60%; 
    width: 100%;
    transition: height 0.05s ease-in-out;
}

#switchFlowTableDiv {
    height: 0%; 
    width: 100%;
    transition: height 0.05s ease-in-out;
}

.bold-row {
    font-weight: bold;
}

#detailsDiv {
    height: 100%; 
    width: 0%;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: width 0.05s ease-in-out;
}


#topology {
    padding: 0;
    margin: 0;
}

#contentsDiv {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #F5F3F5;
    margin: 0px;
    font-family: "Garamond", serif;
    
}
#pageDiv {
    height: 100vh;
    width: 100vw;
}

#deviceListGrid {
    width: 100%;
    height: 100%;
}
